body {
  background-color: #100202;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 32px;
  margin-left: 14vw;
  margin-right: 8vw;
}

h1 {
  line-height: 3.5rem;
  font-size: 2.5rem;
  color: #9e0058;
}

h3 {
  color: #100202;
  display: inline-block;
  background: #9e0058;
  padding: 0.4em;
}

h4 {
  color: #dfd6c2;
}

p {
  display: block;
  background: #100202;
  padding: 0.251229em;
  font-size: 1rem;
  color: #dfd6c2;
  width: fit-content;
}

.tony {
  float: left;
  margin-left: -14vw;
  width: 26vh;
  height: 26vh;
}

.backgroundimg {
  z-index: -1;
  position: fixed;
  width: 120vh;
  height: 120vh;
  top: 5%;
  right: 5%;
}

.blogimage {
  width: 50vw;
  height: 50vw;
}

.blogdate {
  color: #dfd6c2;
  background: #3d2081;
  padding: 0.3em;
  display: inline-block;
  margin-bottom: 4px;
}

.blogtitle {
  margin-top: 4px;
  color: #100202 ;
  background: #9e0058;
  padding: 0.3em;
  display: inline-block;
}

.blogtext {
  font-size: 1.15em;
  line-height: 1.55rem;
  margin-bottom: 4px;
}

.blogpost {
  background: #100202;
  width: 75%;
  padding: 4px;
}

hr {
  border: none;
  height: 3px;
  background-color: #3d2081;
}

.bloglink {
  font-size: 1.5rem;
  font-weight: 600;
  color: #dfd6c2;
  background-color: #100202;
  font-kerning: auto;
  padding: 6px;
}

.bloglink:hover {
  color: #3d2081;
}
